{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container text-center my-5">
    <h2 class="mb-4">🎉 Thank You!</h2>
    <p>Your order has been placed successfully.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'home' %}" class="btn btn-dark mt-4">Back to Home</a>
    {% else %}
    <a href="{% url 'login' %}">back</a>
    {% endif %}
</div>
{% endblock %}
    
</body>
</html>